


<% if current_user.has_role? :rubyonrails %>
            <li><%= link_to "Start", course_path(5) %></li>
           <% else %>
           <li><%= link_to "Acheter", show_buy_path(5) %></li>
<% end %> 




    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.price %></td>
        <td><%= course.user %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>


